
* {
	margin: 0;
	padding: 0;
}
.navbar-light {
	background-color: white;
}

.navbar-nav {
	margin-top: 0;
}
.nav-item {
	padding: 1rem 1rem;
	background-color: white;
}
.nav-link {
	font-size: 1.5rem;
}
.first-page {
	height: 100%;
	width: 100%;
}

.head h1 {
	font-size: 4em;
	margin-top: 6rem;
	font-family: 'Kanit';
	font-weight: 600;
	color: #36454f;
}

.head p {
	font-size: 1.7rem;
	font-family: 'Kanit';
	color: #36454f;
	font-weight: 500;
}

.heroine {
	margin-top: 3rem;
}

.girl-adjust {
	height: 19rem;
}

.design {
	margin-top: 5.8rem;
}
.img-adjust {
	height: 17rem;
}

.second-page {
	height: 100%;
	width: 100%;
	background-color: #06c258;
}

.intro {
	height: 30rem;
}
.intro h1 {
	color: white;
	margin-top: 5.5rem;
	font-size: 2.7rem;
	margin-bottom: 2rem;
	font-family: 'Kanit';
}

.intro h5 {
	margin-bottom: 5%;
	color: white;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.5rem;
	font-family: 'Kanit';
	/* border:2px solid #98ff98 */
}
.second-page-overlap {
	height: 56rem;
	width: 70%;
	background-color: white;
	margin-top: -7rem;
	border-radius: 20px;
}

.container1 {
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 40px;
}

.timeline {
	width: 80%;
	height: auto;
	max-width: 800px;
	margin: 0 auto;
	position: relative;
}

.timeline-text {
	background-color: #3b444b;
	border-radius: 10px;
}

@media only screen and (min-width: 768px) {
	.timeline::before {
		content: '';
		position: absolute;
		height: 100%;
		width: 4px;
		left: 50%;
		background-color: #3b444b;
		transform: translateX((-50%));
	}

	.timeline-text {
		width: 50%;
		margin-bottom: 10px;
		position: relative;
		color: white;
	}

	.timeline-text:nth-child(odd) {
		float: left;
		clear: right;
		transform: translate(-30px);
	}

	.timeline-text:nth-child(even) {
		float: right;
		clear: left;
		transform: translate(30px);
	}

	.timeline-text::after {
		content: '';
		position: absolute;
		height: 20px;
		width: 20px;
		background-color: white;
		border: 2px solid #3b444b;
		border-radius: 50%;
		top: 0;
	}

	.timeline-text:nth-child(odd)::after {
		right: -30px;
		transform: translate(50%, -50%);
	}

	.timeline-text:nth-child(even)::after {
		left: -30px;
		transform: translate(-50%, 50%);
	}
	.timeline-text:hover:after {
		background-color: aqua;
	}
}

.edu {
	margin-bottom: 100px;
	font-size: 2.5rem;
	font-weight: 600;
	font-family: Kanit;
	text-align: center;
}

.timeline-text h2 {
	font-size: 1.5rem;
	margin-top: 1rem;
	font-family: 'Kanit';
}

.timeline-text p {
	font-size: 1rem;
	font-family: 'Kanit';
}

.projects {
	width: 100%;
	background-color: white;
}

.workheading {
	height: 100px;
	width: 100%;
	margin-top: 2rem;
	text-align: center;
	font-size: 3rem;
	font-weight: 600;
	font-family: 'Kanit';

	color: #414a4c;
}

.flex-contain {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	justify-content: center;
	align-items: center;
	padding-bottom: 5%;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.flex-contain > div {
	background-color: #f1f1f1;
	width: 42vh;
	height: 27vh;
	margin: 10px;
	text-align: center;
}

.flip-card h1 {
	position: absolute;
}

.flip-card {
	background-color: transparent;
	width: 42vh;
	height: 27vh;
	perspective: 1000px;
	border-radius: 15px;
	margin: 1rem;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flip-card-front {
	background-color: #bbb;
	color: white;
	border-radius: 20px;
}

.flip-card-front h1 {
	font-size: 3.5vh;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Kanit';
}

.flip-card-back {
	background-color: #414a4c;
	color: white;
	transform: rotateY(180deg);
	border-radius: 20px;
}

.flip-card-back p {
	font-size: 1.5vh;
	margin-top: 30px;
	font-family: 'Kanit';
}
.workimg {
	border-radius: 20px;
}
.btn{
	border-radius: 20px;
	padding: 7px 32px;
}

.gitbut {
	margin-bottom: 7rem;
	text-align: center;
}
.button {
	font-size: 1.5rem;
	padding: 0.5rem 7rem;
	border-radius: 25px;
	font-family: 'Kanit';
}

.skills {
	background-color: #06c258;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.skillheading {
	width: 100%;
	height: 450px;
	text-align: center;
}
.skillheading h1 {
	color: white;
	margin-top: 6rem;
	margin-bottom: 2rem;
	font-size: 3rem;
	font-family: 'Kanit';
}
.skillheading h5 {
	color: white;
	font-size: 1.6rem;
	font-weight: 400;
	font-family: 'Kanit';

}

.skill-icon {
	width: 60%;
	border-radius: 20px;
	background-color: #bbb;
	margin-top: -7rem;
}
.skill-icon h3 {
	font-family: 'Kanit';
}

.col-lg-4 {
	height: 200px;
	width: 100%;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.fa {
	font-size: 5rem;
}
.fa-python {
	color: #ffd300;
}

.fa-html5 {
	color: #ff6600;
}

.fa-css3-alt {
	color: #0da2ff;
}
.fa-bold {
	color: #553c7b;
}
.fas {
	font-size: 5rem;
}

.fab {
	font-size: 5rem;
}

.footer {
	background-color: #06c258;
	height: 600px;
	width: 100%;
	margin-top: 17rem;
	border: 2px solid #06c258;
}
.footer-text {
	margin-top: 15rem;
	color: white;
	font-weight: 100;
	font-size: 2.5rem;
	font-family: 'Kanit';
}

.subfooter {
	width: 80%;
	height: 200px;
	background-color: black;
	border-radius: 20px;
	margin-top: -42rem;
}

.left {
	color: white;
	font-family: 'Kanit';
}
.right {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: 300;
	font-size: 1.3rem;
	font-family: 'Kanit';
}

.icons {
	height: 100px;
	margin-top: 6rem;
	text-align: center;
}

.insta {
	font-size: 60px;
	margin-right: 2rem;
	color: white;
}
.github {
	font-size: 60px;
	color: white;
}
.linkedin {
	font-size: 60px;
	margin-right: 2rem;
	color: white;
}

.insta:hover,
.github:hover,
.linkedin:hover {
	color: #d5d5d5;
}

@media (max-width: 992px) {
	.head h1 {
		font-size: 3.4rem;
		margin-top: 7rem;
	}
	.head p {
		margin-top: 1rem;
		font-size: 1.6rem;
	}

	.girl-adjust {
		margin-top: 3.5rem;
		height: 16rem;
	}
	.img-adjust {
		height: 16.8rem;
	}

	.intro h1 {
		font-size: 2.5rem;
		margin-bottom: 1rem;
		margin-top: 4rem;
	}
	.intro h5 {
		font-size: 1.4rem;
		padding: 0px 20px;
	}
	.workheading {
		font-size: 3.2rem;
	}
	.button {
		font-size: 1.6rem;
		padding: 0.7rem 5rem;
	}
	.skillheading h1 {
		font-size: 2.8rem;
	}
	.skillheading h5 {
		font-size: 1.8rem;
	}
	.left h1 {
		font-size: 2.7rem;
	}
	.right h5 {
		font-size: 1.4rem;
	}
	.footer-text {
		font-size: 2.5rem;
		margin-top: 14rem;
	}
	.icons {
		margin-top: 5rem;
	}
	.right {
		height: auto;
		display: block;
		margin-top: 1.5rem;
	}
	.left {
		height: auto;
		display: block;
		margin-top: 2rem;
	}

	.timeline-text h2 {
		font-size: 1rem;
		margin-top: 1rem;
		font-family: 'Kanit';
	}

	.timeline-text p {
		font-size: 0.7rem;
		font-family: 'Kanit';
	}
	.timeline-text{
		background-color: black;
		color:white
	}
}

@media (max-width: 768px) {
	.head h1 {
		font-size: 2.7rem;
	}
	.head p {
		font-size: 1.3rem;
	}

	.girl-adjust {
		height: 14rem;
	}
	.img-adjust {
		height: 15rem;
	}

	.intro h1 {
		font-size: 2.2rem;
	}
	.intro h5 {
		font-size: 1.3rem;
	}
	.workheading {
		font-size: 2.8rem;
	}
	.button {
		font-size: 1.4rem;
		padding: 0.7rem 4rem;
	}
	.skillheading h1 {
		font-size: 2.5rem;
	}
	.skillheading h {
		font-size: 1.6rem;
	}
	.left h1 {
		font-size: 2.3rem;
	}
	.right h5 {
		font-size: 1.2rem;
	}
	.footer-text {
		font-size: 2.2rem;
		margin-top: 14rem;
	}
	.icons {
		margin-top: 3rem;
	}
}

@media (max-width: 576px) {
	.head h1 {
		margin-top: 5rem;
		font-size: 2.2rem;
	}
	.head p {
		font-size: 1.2rem;
	}

	.girl-adjust {
		height: 12rem;
		margin-top: 2.5rem;
	}
	.img-adjust {
		height: 10rem;
	}

	.intro h1 {
		font-size: 1.6rem;
		margin-top: 15px;
		padding: 0px 10px;
	}
	.intro h5 {
		font-size: 1rem;

	}
	.workheading {
		font-size: 2.2rem;
	}
	.button {
		font-size: 1rem;
		padding: 0.5rem 2rem;
	}
	.skillheading h1 {
		font-size: 2.2rem;
	}
	.skillheading h5 {
		font-size: 1.2rem;
	}
	.left h1 {
		font-size: 1.8rem;
		margin-bottom: 0;
	}
	.right h5 {
		font-size: 1rem;
		margin-bottom: 0;
		
	}
	.footer-text {
		font-size: 1.9rem;
		margin-top: 12rem;
	}
	.icons {
		margin-top: 3rem;
	}
	.edu{
		font-size: 2rem;
	}
}
