* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: white;
}

.text-center {
	padding-top: 280px;
}

.jb {
	height: 750px;

	margin: 0px;
	background-image: url('coffee2.jpg');
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0, 0, 0, .7);
	background-blend-mode: overlay;
}

.text1 {
	font-size: 50px;
	font-weight: 600;
	position: relative;
	letter-spacing: 2px;
	animation: text 3s 1;
}

.text2 {
	font-size: 19px;
	font-weight: 550;
}

#smallbox {
	height: 900px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 0px;
	padding-left: 400px;
	padding-right: 400px;
	margin-top: 0px;
	background-color: #f6f6f6;
}

#box {
	flex-basis: 100%;
	height: 120px;
	margin-top: 50px;
	font-size: 45px;
	text-align: center;
	margin-bottom: 0px;
	color: gray;
}

#box1 {
	height: 300px;
	width: 300px;
	background-color: black;
	margin: 5px 20px;
	font-family: "Rum Raisin";
	font-size: 50px;
	padding: 12px;
	color: gray;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, .8);
	background-blend-mode: overlay;
}

#box1:hover {
	height: 280px;
	width: 280px;
	background-color: white;
	color: gray;
	border: 3px solid gray;
}

#box2 {
	height: 300px;
	width: 300px;
	background-color: black;
	margin: 5px 20px;
	font-size: 50px;
	padding: 12px;
	font-family: "Rum Raisin";
	color: gray;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, .8);
	background-blend-mode: overlay;
}

#box2:hover {
	height: 280px;
	width: 280px;
	background-color: white;
	color: gray;
	border: 3px solid gray;
}

#box3 {
	height: 300px;
	width: 300px;
	background-color: black;
	margin: 5px 20px;
	font-size: 50px;
	padding: 12px;
	font-family: "Rum Raisin";
	color: gray;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, .8);
	background-blend-mode: overlay;
}

#box3:hover {
	height: 280px;
	width: 280px;
	background-color: white;
	color: gray;
	border: 3px solid gray;
}

#box4 {
	height: 300px;
	width: 300px;
	background-color: black;
	margin: 5px 20px;
	font-size: 50px;
	padding: 12px;
	font-family: "Rum Raisin";
	color: gray;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, .8);
	background-blend-mode: overlay;
}

#box4:hover {
	height: 280px;
	width: 280px;
	background-color: white;
	color: gray;
	border: 3px solid gray;
}

#box5 {
	height: 300px;
	width: 300px;
	background-color: black;
	margin: 5px 20px;
	font-size: 50px;
	padding: 12px;
	font-family: "Rum Raisin";
	color: gray;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, .8);
	background-blend-mode: overlay;
}

#box5:hover {
	height: 280px;
	width: 280px;
	background-color: white;
	color: gray;
	border: 3px solid gray;
}

#box6 {
	height: 300px;
	width: 300px;
	background-color: black;
	margin: 5px 20px;
	font-size: 50px;
	padding: 12px;
	font-family: "Rum Raisin";
	color: gray;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, .8);
	background-blend-mode: overlay;
}

#box6:hover {
	height: 280px;
	width: 280px;
	background-color: white;
	color: gray;
	border: 3px solid gray;
}

.aboutme {
	height: 900px;
	padding-top: 100px;
}


.aboutheading {
	flex-basis: 100%;
	height: 90px;
	width: 75%;
	text-align: center;
	margin-left: 250px;
	font-size: 45px;
	letter-spacing: 1px;
	color: gray;
}


.aboutcont {
	padding: 50px;
	display: flex;
	width: 75%;
	justify-content: center;
	align-items: center;
	margin-left: 250px;
}

#lefthalf {
	height: 450px;
	width: 450px;
	margin: 20px;
}


.leftimg {
	height: 450px;
	width: 450px;
}

#righthalf {
	height: 450px;
	width: 700px;
	margin: 20px;
}


.paragraph {
	font-size: 20px;
	text-align: center;
	padding-top: 140px;
	padding-bottom: 0px;
	color: gray;
}

.aboutskills {
	height: 820px;
	background-color: #f6f6f6;
	display: flex;
	flex-wrap: wrap;
	margin-top: 0px;
	padding: 50px;
	padding-left: 500px;
	padding-right: 500px;
}

.skillheading {
	height: 80px;
	background-color: green;
	text-align: center;
	font-size: 45px;
	background-color: #f6f6f6;
	color: black;
	font-weight: 500;
}

.python {
	height: 250px;
	width: 250px;
	margin: 5px 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
	border-radius: 20px;
}


.python:hover {
	height: 220px;
	width: 220px;
	border-radius: 30px;
}

.bootstrap {
	height: 250px;
	width: 250px;
	margin: 5px 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
	border-radius: 20px;
}


.bootstrap:hover {
	height: 220px;
	width: 220px;
	border-radius: 30px;
}

.html {
	height: 250px;
	width: 250px;
	margin: 5px 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
	border-radius: 20px;
}


.html:hover {
	height: 220px;
	width: 220px;
	border-radius: 30px;
}

.css {
	height: 250px;
	width: 250px;
	margin: 5px 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
	border-radius: 20px;
}

.css:hover {
	height: 220px;
	width: 220px;
	border-radius: 30px;
}

.mysql {
	height: 250px;
	width: 250px;
	margin: 5px 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
	border-radius: 20px;
}

.mysql:hover {
	height: 220px;
	width: 220px;
	border-radius: 30px;
}

.image {
	height: 250px;
	width: 250px;
	border-radius: 20px;
}

.image:hover {
	height: 220px;
	width: 220px;
	border-radius: 30px;
	border: 3px solid black;
}

@keyframes text {
	0% {
		color: #123c69;
		margin-bottom: -5px;
	}

	30% {
		letter-spacing: 7px;
		margin-bottom: -5px;
	}

	85% {
		letter-spacing: 5px;
		margin-bottom: -5px;
	}

	100% {
		letter-spacing: 1px;
	}
}

.font-color {
	color: gray;
}

.font-color:hover {
	color: gray;
}
